@use "../variables.scss";

$icon-size: 60px;

.about-product {
  box-sizing: border-box;
  min-width: variables.$mobile-width;
  padding: 10px variables.$mobile-padding 29px;

  @media (min-width: variables.$tablet-width) {
    padding: 20px variables.$tablet-padding 45px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 36px variables.$desktop-padding 205px;
    border: none;
  }
}

.about-product__wrapper {
  @media (min-width: variables.$desktop-width) {
    width: calc(variables.$desktop-width - 2 * variables.$desktop-padding);
    margin-right: auto;
    margin-left: auto;
  }
}

.about-product__list {
  counter-reset: section;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px 138px;
    padding-right: 79px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 248px);
    grid-gap: 37px 77px;
    padding-right: 0;
  }
}

.about-product__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: $icon-size;
  margin-bottom: 20px;
  padding-left: $icon-size + 20px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: $icon-size;
    height: $icon-size;
    content: "";
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--useful::before {
    background-image: url("../img/icons/useful.svg");
    background-size: 30px 32px;
  }

  &--form::before {
    background-image: url("../img/icons/form.svg");
    background-size: 29px 31px;
  }

  &--dose::before {
    background-image: url("../img/icons/dose.svg");
    background-size: 25px 30px;
  }

  &--result::before {
    background-image: url("../img/icons/result.svg");
    background-size: 32px 33px;
  }

  @media (min-width: variables.$tablet-width) {
    display: block;
    margin-bottom: 0;
    padding: 151px 0 57px 0;

    &::before {
      top: 38px;
      left: 0;
      width: 80px;
      height: 80px;
      margin: 0;
    }

    &::after {
      counter-increment: section;
      position: absolute;
      top: -1px;
      right: 0;
      z-index: -1;
      content: counters(section, ".");
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 1em;
      color: #f2f2f2;
    }

    &--useful::after {
      right: 21px;
    }

    &--dose::after {
      right: -1px;
    }

    &--result::after {
      right: -4px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      top: 40px;
    }

    &--useful::after {
      right: 23px;
    }

    &--form::after {
      right: 2px;
    }

    &--dose::after {
      right: 1px;
    }

    &--result::after {
      right: -1px;
    }
  }
}

@media (max-width: variables.$mobile-width-max) {
  .about-product__item--result br {
    display: none;
  }
}
