.button {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1.29em;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
