.button {
  display: block;
  box-sizing: border-box;
  padding: 12px 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--secondary {
    color: #444444;
    background-color: #f2f2f2;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
