@use "../variables.scss";

.contacts {
  position: relative;
  background-color: #ffffff;
}

.contacts__address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px variables.$mobile-padding;
  background-color: #f2f2f2;

  &--main {
    background-color: #ffffff;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 95px;
    left: calc((100vw - variables.$desktop-width) / 2 + variables.$desktop-padding);
    z-index: 2;
    box-sizing: border-box;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.contacts__invitation {
  width: 139px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 1.3;
  }

  @media (min-width: variables.$desktop-width) {
    width: 163px;
  }
}

.contacts__information {
  width: 139px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;

  @media (min-width: variables.$tablet-width) {
    width: 160px;
    line-height: 1.25;
  }

  @media (min-width: variables.$desktop-width) {
    width: 155px;
  }
}

.contacts__map {
  width: 100%;
  min-width: variables.$mobile-width;
  height: 362px;

  @media (min-width: variables.$tablet-width) {
    height: 400px;

    [class*="image"] {
      top: -106px !important;
      left: -56px !important;
      width: 113px !important;
      height: 106px !important;
      background-image: url("../img/icons/map-pin-large.png") !important;
      background-size: 100% !important;
    }
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
    z-index: 1;
  }
}
