@use "../variables.scss";

.footer {
  background-color: #f2f2f2;
}

.footer__contacts,
.footer__wrapper {
  box-sizing: border-box;
  min-width: variables.$mobile-width;
  margin: 0 auto;
}

.footer__wrapper {
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 110px;
  }
}

.footer__logo {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet-width) {
    margin-right: 75px;
    border: none;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 80px;
  }
}

.footer__logo-link {
  display: block;
  padding-top: 39px;
  padding-bottom: 28px;
  text-align: center;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.footer__social {
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet-width) {
    flex-grow: 1;
    margin-right: 50px;
    border: none;
  }
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 28px);
  justify-content: center;
  align-items: center;
  grid-gap: 24px;
}

.footer__social-logo {
  fill: #666666;
}

.footer__social-link {
  &:hover .footer__social-logo {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;

    .footer__social-logo {
      fill: #68b738;
    }
  }
}

.footer__copyright {
  padding: 22px 0;

  @media (min-width: variables.$tablet-width) {
    border: none;
  }
}

.footer__copyright-logo {
  fill: #666666;
}

.footer__copyright-link {
  display: flex;
  align-items: center;
  color: #444444;
  font-size: 16px;
  line-height: 1.15;
  text-decoration: none;

  &:hover .footer__copyright-logo {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;

    .footer__copyright-logo {
      fill: #68b738;
    }
  }

  @media (max-width: variables.$mobile-width-max) {
    justify-content: space-between;
  }
}

@media (min-width: variables.$tablet-width) {
  .footer__copyright-title {
    margin-right: 22px;
  }
}
