@use "../variables.scss";
@use "../mixins.scss";

.form {
  padding-top: 23px;
  padding-bottom: 32px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 34px;
    padding-bottom: 72px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 82px;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &--pet {
    margin-bottom: 22px;
  }

  &--target {
    margin-bottom: 26px;
    padding-top: 23px;
    padding-bottom: 19px;
  }

  &--target::before,
  &--target::after {
    position: absolute;
    left: -20px;
    right: -20px;
    height: 1px;
    content: "";
    background-color: #d9d9d9;
  }

  &--target::before {
    top: 0;
  }

  &--target::after {
    bottom: 0;
  }

  &--comment {
    margin-bottom: 21px;
  }

  &--contacts {
    margin-bottom: 23px;
  }

  &--addition {
    margin-bottom: 23px;
  }

  @media (min-width: variables.$tablet-width) {
    &--pet {
      margin-bottom: 73px;
    }

    &--target {
      margin-bottom: 75px;
      padding: 25px 28px 23px;
      border: 1px solid #e7e7e7;
    }

    &--target::before,
    &--target::after {
      display: none;
    }

    &--contacts {
      margin-bottom: 66px;
    }

    &--comment {
      margin-bottom: 61px;
    }

    &--addition {
      margin-bottom: 56px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &--pet {
      grid-area: pet;
      margin-bottom: 69px;
    }

    &--target {
      grid-area: target;
      margin-bottom: 69px;
    }

    &--contacts {
      grid-area: contacts;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
      margin-bottom: 68px;
    }

    &--comment {
      grid-area: comment;
      margin-bottom: 63px;
    }

    &--addition {
      grid-area: addition;
      margin-bottom: 61px;
    }
  }
}

.form__field-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: variables.$tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.form__fieldset--contacts .form__field-group {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 0;
  }
}

.form__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.form__item:not(:last-child) {
  margin-bottom: 13px;
}

.form__fieldset--addition .form__list {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 32px 105px;
    justify-content: start;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 32px 80px;
    justify-content: start;
  }
}

.form__fieldset--addition .form__item {
  margin-bottom: 12px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.form__legend {
  position: relative;
  display: inline-block;
  margin-bottom: 34px;
  margin-left: -2px;
  padding-right: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 1.1;
  background-color: #ffffff;

  &::after {
    @include mixins.title-line-right;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 76px;
    padding-right: 42px;
    font-size: 36px;
    line-height: 1;

    &::after {
      top: 22px;
      width: calc(100vw - 70px);
    }

    &::before {
      @include mixins.title-line-left;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding-right: 40px;

    &::after {
      width: calc(100vw - variables.$indent-width);
    }

    &::before {
      left: calc(0px - variables.$indent-width);
      width: calc(variables.$indent-width - 40px);
    }
  }
}

.form__fieldset .form__legend br {
  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.form__fieldset--comment .form__legend {
  padding-right: 22px;

  @media (min-width: variables.$tablet-width) {
    padding-right: 38px;
  }
}

.form__fieldset--addition .form__legend {
  margin-bottom: 33px;
  padding-right: 23px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 55px;
    padding-right: 41px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 57px;
  }
}

.form__label {
  margin-right: 16px;

  &--name {
    margin-right: 14px;
  }

  &--email {
    margin-right: 11px;
  }

  &--phone {
    margin-right: 10px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-right: 19px;

    &--name {
      margin-right: 17px;
    }

    &--weight {
      margin-right: 21px;
    }

    &--phone {
      margin-right: 15px;
    }
  }
}

.form__label,
.form__text,
.form__number,
.form__textarea {
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 1.1em;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__text,
.form__number {
  flex-grow: 1;
  width: 100px;
  padding: 10px 16px 10px;
  border: 1px solid #e7e7e7;
}

.form__number {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  height: 150px;
  margin-top: 4px;
  padding: 9px 12px 9px 15px;
  border: 1px solid #e7e7e7;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    min-width: 628px;
    height: 174px;
    margin-top: 0;
    padding-left: 18px;
  }
}

.form__text,
.form__number,
.form__textarea {
  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    outline: 1px solid #444444;
  }
}

.form__text--error,
.form__number--error,
.form__textarea--error {
  border: 1px solid #ff8282;
  outline: 1px solid #ff8282;
}

.form__text--email {
  padding-right: 45px;

  @media (min-width: variables.$tablet-width) {
    padding-left: 21px;
  }
}

.form__text--phone {
  padding-right: 50px;

  @media (min-width: variables.$tablet-width) {
    padding-left: 19px;
  }
}

.form__email-icon {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-6px);
  width: 18px;
  height: 14px;
  font-size: 0;
  line-height: 0;
  fill: none;
  stroke: #222222;
}

.form__phone-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-10px);
  width: 20px;
  height: 21px;
  font-size: 0;
  line-height: 0;
  fill: #000000;

  @media (min-width: variables.$tablet-width) {
    right: 16px;
  }
}

.form__text--email:focus + .form__email-icon {
  stroke: #68b738;
}

.form__text--phone:focus + .form__phone-icon {
  fill: #68b738;
}

.form__text--email.form__text--error + .form__email-icon {
  stroke: #ff8282;
}

.form__text--phone.form__text--error + .form__phone-icon {
  fill: #ff8282;
}

.form__checkbox-control,
.form__radio-control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__checkbox-mark,
.form__radio-mark {
  position: relative;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  border: 1px solid #cdcdcd;

  @media (min-width: variables.$tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.form__checkbox-label {
  color: #000000;
}

.form__radio-label {
  color: #222222;
}

.form__radio-mark {
  border-radius: 50%;
}

.form__checkbox {
  &:checked + .form__checkbox-mark::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/icons/checkbox.svg");
    background-size: 24px 18px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover + .form__checkbox-mark {
    border: 1px solid #bababa;
  }

  &:disabled + .form__checkbox-mark,
  &:disabled ~ .form__checkbox-label {
    opacity: 0.3;
  }
}

.form__radio {
  &:checked + .form__radio-mark::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 13px;
    height: 13px;
    margin: auto;
    content: "";
    background-color: #68b738;
    border-radius: 50%;

    @media (min-width: variables.$tablet-width) {
      width: 18px;
      height: 18px;
    }
  }

  &:hover + .form__radio-mark {
    border: 1px solid #bababa;
  }

  &:disabled + .form__radio-mark,
  &:disabled ~ .form__radio-label {
    opacity: 0.3;
  }
}

.form__radio:focus + .form__radio-mark,
.form__checkbox:focus + .form__checkbox-mark {
  border: 1px solid #444444;
  outline: 1px solid #444444;
}

.form__button {
  width: 100%;
  min-width: 280px;
  margin-bottom: 21px;
  padding: 10px 45px;

  @media (min-width: variables.$tablet-width) {
    display: inline-block;
    box-sizing: border-box;
    width: 282px;
    margin-right: 61px;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    font-size: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-area: button;
    width: 100%;
    margin-right: 0;
  }
}

.form__explanation {
  margin-bottom: 0;
  color: #000000;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    display: inline-block;
    margin-top: 0;
  }

  @media (min-width: variables.$desktop-width) {
    grid-area: explanation;
    align-self: center;
    text-align: left;
  }
}
