.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0 20px;
  border: none;

  &--pet {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &--target {
    margin-bottom: 26px;
    padding-top: 22px;
    padding-bottom: 19px;
  }

  &--pet::after,
  &--target::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    border-bottom: 1px solid #d9d9d9;
  }

  &--contacts {
    padding-bottom: 23px;
  }

  &--comment {
    padding-bottom: 22px;
  }

  &--addition {
    padding-bottom: 14px;
  }

  @media (min-width: 768px) {
    padding-right: 70px;
    padding-left: 70px;
  }

  @media (min-width: 1440px) {

  }
}

.form__field-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__item:not(:last-child) {
  margin-bottom: 13px;
}

.form__legend {
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 1.1;
}

.form__label {
  margin-right: 13px;
  margin-bottom: 10px;
}

.form__label,
.form__text,
.form__number,
.form__textarea {
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 1.1em;
  text-transform: uppercase;
}

.form__text,
.form__number {
  flex-grow: 1;
  padding: 13px 16px 14px 16px;
  border: 1px solid #e7e7e7;
}

.form__number {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.form__textarea {
  width: 100%;
  height: 150px;
  padding: 9px 12px 9px 15px;
  border: 1px solid #e7e7e7;
}

.form__button {
  padding: 0 20px;
}

.form__explanation {
  color: #000000;
  text-align: center;
}
