@use "../variables.scss";

.header {
  min-width: variables.$mobile-width;
  font-family: variables.$additional-font;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.header--main {
  border-bottom: none;

  @media (min-width: variables.$desktop-width) {
    position: relative;
    min-height: 694px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 720px;
      height: 694px;
      content: "";
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promo-cat-desktop.jpg");
      background-size: 720px 694px;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/promo-cat-desktop@2x.jpg");
        background-size: 720px 694px;
      }
    }

    &::after {
      position: absolute;
      top: 141px;
      right: 330px;
      z-index: 2;
      width: 552px;
      height: 499px;
      content: "";
      background: url("../img/promo-food-desktop.png");
      background-size: 552px 499px;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background: url("../img/promo-food-desktop@2x.png");
        background-size: 552px 499px;
      }
    }
  }
}

.header__navigation {
  @media (max-width: variables.$mobile-width-max) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: variables.$tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    z-index: 2;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.header__promo {
  font-size: 14px;
  line-height: 1;

  @media (max-width: variables.$mobile-width-max) {
    display: grid;
    grid-template-rows: auto auto 135px 135px auto;
    grid-template-columns: 20px auto 20px;
    text-align: center;
    color: #ffffff;

    &::before {
      grid-row: 1 / 4;
      grid-column: 1 / -1;
      z-index: 1;
      content: "";
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promo-cat.jpg"),
        linear-gradient(to right, #504f55, #444348);
      background-size:
        100% 302px,
        320px 302px,
        100% 302px;
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/promo-cat@2x.jpg"),
          linear-gradient(to right, #504f55, #444348);
        background-size:
          100% 302px,
          320px 302px,
          100% 302px;
      }
    }

    &::after {
      grid-row: 3 / 5;
      grid-column: 2 / 3;
      z-index: 2;
      align-self: end;
      justify-self: center;
      width: 280px;
      height: 270px;
      content: "";
      background: url("../img/promo-food.png");
      background-size: 280px 270px;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background: url("../img/promo-food@2x.png");
        background-size: 280px 270px;
      }
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 52px 30px 526px 117px;
    background-image: url("../img/promo-food-tablet.png");
    background-size: 709px 609px;
    background-repeat: no-repeat;
    background-position: bottom 0 right 30px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-food-tablet@2x.png");
      background-size: 709px 609px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 104px 720px 0 80px;
    background-image: none;
  }
}

.header__promo-title {
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;

  @media (max-width: variables.$mobile-width-max) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    z-index: 3;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-top: 0;
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.header__promo-tagline {
  text-transform: uppercase;

  @media (max-width: variables.$mobile-width-max) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 3;
    margin-top: 0;
    margin-bottom: 29px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 49px;
    margin-left: 2px;
    font-size: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 51px;
    margin-left: 0;
  }
}

.header__promo-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;

  @media (max-width: variables.$mobile-width-max) {
    grid-row: -1 / -2;
    grid-column: 2 / 3;
    margin-top: 3px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-left: 3px;
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 14px;
    font-size: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 0;
  }
}

.navigation__logo,
.navigation__logo-title {
  text-decoration: none;
}
