@use "../variables.scss";

.main__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-family: variables.$additional-font;
  color: #000000;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;

  @media (min-width: 768px) {
    margin-bottom: 54px;

    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 56px;
  }
}

.main__title-secondary {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  font-family: variables.$additional-font;
  color: #000000;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: variables.$desktop-width) {
    width: calc(variables.$desktop-width - 2 * variables.$desktop-padding);
  }
}

.main__text {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: variables.$additional-font;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.5;
  }
}
