@use "../mixins.scss";
@use "../variables.scss";

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;

  @media (min-width: variables.$tablet-width) {
    min-height: 78px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 112px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.navigation__logo {
  display: block;
  width: 33px;
  height: 37px;
  margin-top: 10px;
  background-image: url("../img/logos/logo-simple-picture.svg");
  background-size: 33px 37px;
  background-repeat: no-repeat;

  @media (min-width: variables.$tablet-width) {
    width: 174px;
    height: 51px;
    margin-top: 24px;
    background-image: url("../img/logos/logo-full.svg");
    background-size: 174px 51px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 202px;
    height: 59px;
    margin-top: 53px;
    background-size: 202px 59px;
  }
}

.navigation__logo-title {
  display: block;
  width: 101px;
  height: 18px;
  margin-top: 23px;
  background-image: url("../img/logos/logo-simple-title.svg");
  background-size: 101px 18px;
  background-repeat: no-repeat;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.navigation__toggle {
  width: 24px;
  height: 16px;
  margin-top: 24px;
  margin-left: 5px;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.navigation__list {
  display: none;

  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    margin-top: 42px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 69px;
  }
}

.navigation__item {
  @media (max-width: variables.$mobile-width-max) {
    border-top: 1px solid #e6e6e6;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  @media (min-width: variables.$tablet-width) {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}

.navigation__link {
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    padding-top: 0;
    padding-bottom: 12px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 10px;

    &--main {
      color: #ffffff;
    }
  }
}
