.promo {
  font-size: 14px;
  line-height: 1em;
  text-align: center;
}

.promo__title {
  margin-top: 27px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;
}

.promo__tagline {
  text-transform: uppercase;
}
