@use "../variables.scss";

.use-case {
  position: relative;
  box-sizing: border-box;
  min-width: variables.$mobile-width;
  padding: 25px variables.$mobile-padding 40px;
  background-color: #eaeaea;

  @media (min-width: variables.$tablet-width) {
    padding: 43px 0 0;
    background-color: #ffffff;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 43px variables.$desktop-padding 65px;
    background-color: #eaeaea;
  }
}

.use-case__title {
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 63px;
    margin-left: variables.$tablet-padding;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: -136px;
    right: 0;
    left: 0;
    width: calc(variables.$desktop-width - 2 * variables.$desktop-padding);
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.use-case__wrapper {
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-areas:
      "description description"
      "details-list total"
      "slider slider";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr calc(174px + variables.$tablet-padding);
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: calc(variables.$desktop-width - 2 * variables.$desktop-padding);
    padding-right: 784px;
  }
}

.use-case__description {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    grid-area: description;
    margin-right: variables.$tablet-padding;
    margin-bottom: 54px;
    margin-left: variables.$tablet-padding;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 0;
    margin-bottom: 69px;
    margin-left: 0;
  }
}

.use-case__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, 124px);
  justify-content: center;
  grid-gap: 32px;
  margin-bottom: 34px;

  @media (min-width: variables.$tablet-width) {
    grid-area: details-list;
    grid-template-columns: repeat(auto-fit, 162px);
    justify-content: start;
    grid-gap: 42px;
    margin-right: 80px;
    margin-left: variables.$tablet-padding;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 0;
    margin-bottom: 55px;
    margin-left: 0;
  }
}

.use-case__details-list {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }
}

.use-case__details-description {
  position: relative;
  top: 14.5px;
  z-index: 1;
  order: 2;
  align-self: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    background-color: #ffffff;
  }

  @media (min-width: variables.$desktop-width) {
    background-color: #eaeaea;
  }
}

.use-case__details-number {
  position: relative;
  top: 14.5px;
  order: 1;
  z-index: 1;
  align-self: center;
  margin-left: 0;
  margin-bottom: 7.5px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  background-color: #eaeaea;

  @media (min-width: variables.$tablet-width) {
    top: 15px;
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 1.2;
    background-color: #ffffff;
  }

  @media (min-width: variables.$desktop-width) {
    background-color: #eaeaea;
  }
}

.use-case__total-cost {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  line-height: 1.4;
  text-transform: uppercase;

  dd {
    margin-left: 5px;
  }

  @media (min-width: variables.$tablet-width) {
    grid-area: total;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
    margin-right: variables.$tablet-padding;
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 1.4;
    text-align: right;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;

    dt {
      margin-right: 63px;
    }
  }
}

.use-case__slider-container {
  @media (min-width: variables.$tablet-width) {
    position: relative;
    grid-area: slider;
    box-sizing: border-box;
    min-height: 462px;
    margin-top: 250px;
    padding: 366px variables.$tablet-padding 56px;
    background-color: #eaeaea;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: -209px;
    right: 0;
    margin-top: 0;
    padding: 0;
    background-color: transparent;
  }
}

.use-case__image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    top: -170px;
    right: 0;
    left: 0;
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
    top: 0;
  }
}

.use-case__image {
  @media (min-width: variables.$tablet-width) {
    width: 592px;
  }
}

.use-case__controls-container {
  display: flex;
  align-items: center;
}

.use-case__slider {
  margin-left: 13px;
  margin-right: 13px;
  width: 85px;
}

.use-case__control-label {
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border-bottom: 1px dotted #b8b8b8;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
