@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Отступ от края экрана до центрального блока для десктопной версии */
.page {
  height: 100%;
  min-width: 320px;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #444444;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page__body {
    font-size: 16px;
    line-height: 1.5;
  }
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 12px 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
.button--secondary:hover {
  background-color: #ebebeb;
}
.button--secondary:active {
  color: rgba(68, 68, 68, 0.3);
}

.main__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main__title {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .main__title {
    margin-bottom: 56px;
  }
}

.main__title-secondary {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main__title-secondary {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .main__title-secondary {
    width: 1220px;
  }
}

.main__text {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main__text {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.header {
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .header {
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .header {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.header--main {
  border-bottom: none;
}
@media (min-width: 1440px) {
  .header--main {
    position: relative;
    min-height: 694px;
  }
  .header--main::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 720px;
    height: 694px;
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-desktop.jpg");
    background-size: 720px 694px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .header--main::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-desktop@2x.jpg");
    background-size: 720px 694px;
  }
}
@media (min-width: 1440px) {
  .header--main::after {
    position: absolute;
    top: 141px;
    right: 330px;
    z-index: 2;
    width: 552px;
    height: 499px;
    content: "";
    background: url("../img/promo-food-desktop.png");
    background-size: 552px 499px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .header--main::after {
    background: url("../img/promo-food-desktop@2x.png");
    background-size: 552px 499px;
  }
}

@media (max-width: 767px) {
  .header__navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .header__navigation {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .header__navigation {
    z-index: 2;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.header__promo {
  font-size: 14px;
  line-height: 1;
}
@media (max-width: 767px) {
  .header__promo {
    display: grid;
    grid-template-rows: auto auto 135px 135px auto;
    grid-template-columns: 20px auto 20px;
    text-align: center;
    color: #ffffff;
  }
  .header__promo::before {
    grid-row: 1/4;
    grid-column: 1/-1;
    z-index: 1;
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat.jpg"), linear-gradient(to right, #504f55, #444348);
    background-size: 100% 302px, 320px 302px, 100% 302px;
    background-repeat: no-repeat;
    background-position: top center;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .header__promo::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat@2x.jpg"), linear-gradient(to right, #504f55, #444348);
    background-size: 100% 302px, 320px 302px, 100% 302px;
  }
}
@media (max-width: 767px) {
  .header__promo::after {
    grid-row: 3/5;
    grid-column: 2/3;
    z-index: 2;
    align-self: end;
    justify-self: center;
    width: 280px;
    height: 270px;
    content: "";
    background: url("../img/promo-food.png");
    background-size: 280px 270px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .header__promo::after {
    background: url("../img/promo-food@2x.png");
    background-size: 280px 270px;
  }
}
@media (min-width: 768px) {
  .header__promo {
    padding: 52px 30px 526px 117px;
    background-image: url("../img/promo-food-tablet.png");
    background-size: 709px 609px;
    background-repeat: no-repeat;
    background-position: bottom 0 right 30px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .header__promo {
    background-image: url("../img/promo-food-tablet@2x.png");
    background-size: 709px 609px;
  }
}
@media (min-width: 1440px) {
  .header__promo {
    padding: 104px 720px 0 80px;
    background-image: none;
  }
}

.header__promo-title {
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;
}
@media (max-width: 767px) {
  .header__promo-title {
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 3;
    margin-top: 27px;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .header__promo-title {
    margin-top: 0;
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.header__promo-tagline {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .header__promo-tagline {
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 3;
    margin-top: 0;
    margin-bottom: 29px;
  }
}
@media (min-width: 768px) {
  .header__promo-tagline {
    margin-bottom: 49px;
    margin-left: 2px;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .header__promo-tagline {
    margin-bottom: 51px;
    margin-left: 0;
  }
}

.header__promo-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .header__promo-link {
    grid-row: -1/-2;
    grid-column: 2/3;
    margin-top: 3px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
@media (min-width: 768px) {
  .header__promo-link {
    margin-left: 3px;
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 14px;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .header__promo-link {
    margin-left: 0;
  }
}

.navigation__logo,
.navigation__logo-title {
  text-decoration: none;
}

.navigation {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}
@media (min-width: 768px) {
  .navigation {
    min-height: 78px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .navigation {
    min-height: 112px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.navigation__logo {
  display: block;
  width: 33px;
  height: 37px;
  margin-top: 10px;
  background-image: url("../img/logos/logo-simple-picture.svg");
  background-size: 33px 37px;
  background-repeat: no-repeat;
}
.navigation__logo[href]:hover {
  opacity: 0.8;
}
.navigation__logo[href]:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .navigation__logo {
    min-width: 174px;
    height: 51px;
    margin-right: 40px;
    margin-top: 24px;
    background-image: url("../img/logos/logo-full-tablet.svg");
    background-size: 174px 51px;
  }
}
@media (min-width: 1440px) {
  .navigation__logo {
    width: 202px;
    height: 59px;
    margin-top: 53px;
    background-image: url("../img/logos/logo-full-desktop.svg");
    background-size: 202px 59px;
  }
}

.navigation__logo-title {
  display: block;
  width: 101px;
  height: 18px;
  margin-top: 23px;
  background-image: url("../img/logos/logo-simple-title.svg");
  background-size: 101px 18px;
  background-repeat: no-repeat;
}
.navigation__logo-title[href]:hover {
  opacity: 0.8;
}
.navigation__logo-title[href]:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .navigation__logo-title {
    display: none;
  }
}

.navigation__toggle {
  position: relative;
  width: 24px;
  height: 18px;
  margin-top: 22px;
  margin-left: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__toggle:hover {
  opacity: 0.8;
}
.navigation__toggle:active {
  opacity: 0.6;
}

.navigation--closed .navigation__toggle::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.navigation--opened .navigation__toggle {
  width: 22px;
  height: 20px;
}
.navigation--opened .navigation__toggle::before, .navigation--opened .navigation__toggle::after {
  position: absolute;
  top: 8px;
  left: -2px;
  width: 25px;
  height: 1.5px;
  content: "";
  background-color: #000000;
}
.navigation--opened .navigation__toggle::before {
  transform: rotate(45deg);
}
.navigation--opened .navigation__toggle::after {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .navigation__item {
    position: relative;
  }
  .navigation__item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 320px;
    content: "";
    border-top: 1px solid #e6e6e6;
  }
  .navigation__item:last-child::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-width: 320px;
    content: "";
    border-top: 1px solid #e6e6e6;
  }

  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    display: block;
    background-color: #ffffff;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs {
    display: grid;
    grid-template-areas: "picture title" "menu menu";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 17px;
  }

  .navigation--nojs .navigation__logo {
    grid-area: picture;
    justify-self: start;
  }

  .navigation--nojs .navigation__logo-title {
    grid-area: title;
    justify-self: end;
  }

  .navigation--nojs .navigation__list {
    position: static;
    grid-area: menu;
  }

  .navigation--nojs .navigation__item::before,
.navigation--nojs .navigation__item:last-child::after {
    left: -20px;
  }
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
  }
}
@media (min-width: 1440px) {
  .navigation__list {
    justify-content: flex-end;
    max-width: 580px;
    margin-top: 69px;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .navigation__item {
    margin-bottom: 10px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 38px;
  }
  .navigation__item:first-child {
    margin-right: 35px;
  }
  .navigation__item--current {
    position: relative;
  }
  .navigation__item--current::after {
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;
    height: 2px;
    content: "";
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .navigation__item:not(:last-child) {
    margin-right: 34px;
  }
  .navigation__item:first-child {
    margin-right: 37px;
  }
}

.navigation__link {
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__link[href]:hover {
  opacity: 0.6;
}
.navigation__link[href]:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .navigation__link {
    padding-top: 0;
    padding-bottom: 12px;
  }
}
@media (min-width: 1440px) {
  .navigation__link {
    padding-bottom: 10px;
  }
}

@media (min-width: 1440px) {
  .navigation__item--main.navigation__item--current::after {
    background-color: #ffffff;
  }

  .navigation__item--main .navigation__link {
    color: #ffffff;
  }
}
.program-kinds {
  box-sizing: border-box;
  min-width: 320px;
  padding: 20px 20px 10px;
}
@media (min-width: 768px) {
  .program-kinds {
    padding: 0 30px 25px;
  }
}
@media (min-width: 1440px) {
  .program-kinds {
    padding: 82px 110px 35px;
  }
}

@media (min-width: 1440px) {
  .program-kinds__wrapper {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.program-kinds__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .program-kinds__list {
    row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .program-kinds__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}

.program-kinds__item {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 59px 1fr;
  grid-template-areas: "icon title" "text text" "link link";
  padding: 22px 20px 18px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .program-kinds__item {
    grid-template-columns: 1fr 236px;
    grid-template-areas: "title icon" "text icon" "link icon";
    padding: 0 62px 0 52px;
  }
}
@media (min-width: 1440px) {
  .program-kinds__item {
    grid-template-columns: 116px 1fr;
    grid-template-areas: "icon title" "text text" "link link";
    padding: 40px 51px 58px 52px;
  }
}
.program-kinds__item--weight-loss::before {
  position: relative;
  top: -2px;
  left: 2px;
  grid-area: icon;
  align-self: center;
  width: 50px;
  height: 53px;
  content: "";
  background-image: url("../img/icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 768px) {
  .program-kinds__item--weight-loss::before {
    top: 0;
    left: 0;
    justify-self: end;
    width: 200px;
    height: 209px;
  }
}
@media (min-width: 1440px) {
  .program-kinds__item--weight-loss::before {
    position: static;
    justify-self: start;
    width: 100px;
    height: 106px;
  }
}
.program-kinds__item--weight-gain::before {
  position: relative;
  top: 2px;
  left: -7px;
  grid-area: icon;
  align-self: center;
  width: 67px;
  height: 50px;
  content: "";
  background-image: url("../img/icons/cat-gain.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 768px) {
  .program-kinds__item--weight-gain::before {
    top: 4px;
    left: 2px;
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .program-kinds__item--weight-gain::before {
    top: 6px;
    left: -19px;
    justify-self: start;
    width: 134px;
    height: 100px;
  }
}

.program-kinds__title {
  grid-area: title;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .program-kinds__title {
    margin-top: 77px;
    margin-left: 0;
    font-size: 36px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .program-kinds__title {
    margin-top: 7px;
    margin-left: 46px;
  }
}

.program-kinds__description {
  grid-area: text;
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program-kinds__description {
    margin-bottom: 0;
    padding-top: 24px;
    padding-right: 18px;
    padding-bottom: 53px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .program-kinds__description {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 28px;
  }
}

.program-kinds__link {
  position: relative;
  grid-area: link;
  justify-self: start;
  padding: 4px 49px 4px 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}
.program-kinds__link::after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 32px;
  height: 10px;
  content: "";
  background-image: url("../img/icons/arrow.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.program-kinds__link:hover::after {
  background-image: url("../img/icons/arrow-long.svg");
}
.program-kinds__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .program-kinds__link {
    margin-bottom: 57px;
    padding: 0;
    padding-right: 57px;
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .program-kinds__link {
    margin-bottom: 0;
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .program-kinds__item--weight-gain .program-kinds__title {
    margin-top: 3px;
  }

  .program-kinds__item--weight-gain .program-kinds__description {
    margin-bottom: 14px;
    padding-top: 23px;
  }
}
@media (min-width: 1440px) {
  .program-kinds__item--weight-loss .program-kinds__title {
    margin-top: 4px;
  }

  .program-kinds__item--weight-gain .program-kinds__description {
    margin-top: 5px;
  }
}
.about-product {
  box-sizing: border-box;
  min-width: 320px;
  padding: 10px 20px 29px;
}
@media (min-width: 768px) {
  .about-product {
    padding: 20px 30px 45px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .about-product {
    padding: 36px 110px 205px;
    border: none;
  }
}

@media (min-width: 1440px) {
  .about-product__wrapper {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.about-product__list {
  counter-reset: section;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .about-product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px 138px;
    padding-right: 79px;
  }
}
@media (min-width: 1440px) {
  .about-product__list {
    grid-template-columns: repeat(4, 248px);
    grid-gap: 37px 77px;
    padding-right: 0;
  }
}

.about-product__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
}
.about-product__item::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  width: 60px;
  height: 60px;
  content: "";
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}
.about-product__item--useful::before {
  background-image: url("../img/icons/useful.svg");
  background-size: 30px 32px;
}
.about-product__item--form::before {
  background-image: url("../img/icons/form.svg");
  background-size: 29px 31px;
}
.about-product__item--dose::before {
  background-image: url("../img/icons/dose.svg");
  background-size: 25px 30px;
}
.about-product__item--result::before {
  background-image: url("../img/icons/result.svg");
  background-size: 32px 33px;
}
@media (min-width: 768px) {
  .about-product__item {
    display: block;
    margin-bottom: 0;
    padding: 151px 0 57px 0;
  }
  .about-product__item::before {
    top: 38px;
    left: 0;
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .about-product__item::after {
    counter-increment: section;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: -1;
    content: counters(section, ".");
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 1em;
    color: #f2f2f2;
  }
  .about-product__item--useful::after {
    right: 21px;
  }
  .about-product__item--dose::after {
    right: -1px;
  }
  .about-product__item--result::after {
    right: -4px;
  }
}
@media (min-width: 1440px) {
  .about-product__item::before {
    top: 40px;
  }
  .about-product__item--useful::after {
    right: 23px;
  }
  .about-product__item--form::after {
    right: 2px;
  }
  .about-product__item--dose::after {
    right: 1px;
  }
  .about-product__item--result::after {
    right: -1px;
  }
}

@media (max-width: 767px) {
  .about-product__item--result br {
    display: none;
  }
}
.use-case {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  padding: 26px 20px 46px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .use-case {
    padding: 43px 0 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .use-case {
    padding: 70px 110px 35px;
    background-color: #eaeaea;
  }
}

.use-case__title {
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .use-case__title {
    margin-bottom: 63px;
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .use-case__title {
    position: absolute;
    top: -136px;
    right: 0;
    left: 0;
    width: 1220px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.use-case__wrapper {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .use-case__wrapper {
    display: grid;
    grid-template-areas: "description description" "details-list total" "slider slider";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 234px;
  }
}
@media (min-width: 1440px) {
  .use-case__wrapper {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 1220px;
    padding-right: 784px;
  }
}

.use-case__description {
  margin-top: 0;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .use-case__description {
    grid-area: description;
    margin-right: 30px;
    margin-bottom: 54px;
    margin-left: 30px;
    padding-right: 10px;
  }
}
@media (min-width: 1440px) {
  .use-case__description {
    margin-right: 0;
    margin-bottom: 69px;
    margin-left: 0;
    padding-right: 0;
  }
}

.use-case__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, 124px);
  justify-content: center;
  grid-gap: 32px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .use-case__details {
    grid-area: details-list;
    grid-template-columns: repeat(auto-fit, 162px);
    justify-content: start;
    grid-gap: 42px;
    margin-right: 80px;
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .use-case__details {
    margin-right: 0;
    margin-bottom: 55px;
    margin-left: 0;
  }
}

.use-case__details-list {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 18px;
}
.use-case__details-list::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .use-case__details-list {
    padding: 15px 5px 0 5px;
  }
}

.use-case__details-description {
  position: relative;
  top: 14px;
  z-index: 1;
  order: 2;
  align-self: center;
  padding: 8px 8px 0;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .use-case__details-description {
    top: 4px;
    padding: 8px 8px 0;
    font-size: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .use-case__details-description {
    background-color: #eaeaea;
  }
}

.use-case__details-number {
  position: relative;
  top: 14px;
  order: 1;
  z-index: 1;
  align-self: center;
  margin-left: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .use-case__details-number {
    top: 0;
    font-size: 30px;
    line-height: 1.2;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .use-case__details-number {
    background-color: #eaeaea;
  }
}

.use-case__total-cost {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  line-height: 1.4;
  text-transform: uppercase;
}
.use-case__total-cost dd {
  margin-left: 5px;
}
@media (min-width: 768px) {
  .use-case__total-cost {
    grid-area: total;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
    margin-right: 33px;
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 1.4;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .use-case__total-cost {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }
  .use-case__total-cost dt {
    margin-right: 63px;
  }
}

@media (min-width: 768px) {
  .use-case__slider-container {
    position: relative;
    grid-area: slider;
    box-sizing: border-box;
    min-height: 461px;
    margin-top: 219px;
    padding: 370px 30px 56px;
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .use-case__slider-container {
    position: absolute;
    top: -250px;
    right: 0;
    margin-top: 0;
    padding: 0;
    background-color: transparent;
  }
}

.use-case__image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .use-case__image-container {
    position: absolute;
    top: -170px;
    right: 0;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .use-case__image-container {
    position: relative;
    top: 0;
    margin-bottom: 22px;
  }
}

@media (min-width: 768px) {
  .slider__image {
    width: 592px;
  }
}

.slider__controls-container {
  position: relative;
  left: 2px;
  display: flex;
  align-items: center;
}

.slider__range-control {
  display: block;
  margin-left: 13px;
  margin-right: 13px;
  width: 426px;
  height: 6px;
  background-color: inherit;
  -webkit-appearance: none;
  appearance: none;
}
@media (max-width: 767px) {
  .slider__range-control {
    display: none;
  }
}
.slider__range-control::-moz-range-track {
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  border-radius: 6px;
  cursor: pointer;
}
.slider__range-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  border-radius: 6px;
  cursor: pointer;
}
.slider__range-control::-moz-range-thumb {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  background-color: #68b738;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 12px #ffffff, 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}
.slider__range-control::-moz-range-thumb:hover {
  box-shadow: inset 0 0 0 12px #ffffff, 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
.slider__range-control::-moz-range-thumb:active {
  border-color: #68b738;
  box-shadow: inset 0 0 0 12px #ffffff, 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.slider__range-control::-webkit-slider-thumb {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  margin-top: -16px;
  background-color: #68b738;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 12px #ffffff, 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
}
.slider__range-control::-webkit-slider-thumb:hover {
  box-shadow: inset 0 0 0 12px #ffffff, 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
.slider__range-control::-webkit-slider-thumb:active {
  border-color: #68b738;
  box-shadow: inset 0 0 0 12px #ffffff, 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.slider__toggle-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 85px;
  margin-left: 9px;
  margin-right: 9px;
  height: 14px;
  padding: 3px 5px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .slider__toggle-control {
    display: none;
  }
}

.slider__toggle-label {
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
  opacity: 0;
  cursor: pointer;
}

.slider__radio:checked + .slider__toggle-label {
  opacity: 1;
}

.slider__control-button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.slider__control-button:first-child {
  margin-left: auto;
}
.slider__control-button:last-child {
  margin-right: auto;
}
.slider__control-button:hover {
  background-color: inherit;
}
@media (min-width: 768px) {
  .slider__control-button {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dotted #b8b8b8;
  }
  .slider__control-button:hover {
    border-bottom-style: solid;
  }
  .slider__control-button:active {
    padding-bottom: 1px;
    border: none;
  }
}

.footer {
  background-color: #f2f2f2;
}

.footer__contacts,
.footer__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto;
}

.footer__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 30px;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 110px;
  }
}

.footer__logo {
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-right: 75px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .footer__logo {
    margin-right: 80px;
  }
}

.footer__logo-link {
  display: block;
  padding-top: 39px;
  padding-bottom: 28px;
  text-align: center;
}
.footer__logo-link[href]:hover {
  opacity: 0.8;
}
.footer__logo-link[href]:active {
  opacity: 0.6;
}

.footer__social {
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__social {
    flex-grow: 1;
    margin-right: 50px;
    border: none;
  }
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 28px);
  justify-content: center;
  align-items: center;
  grid-gap: 24px;
}

.footer__social-logo {
  fill: #666666;
}

.footer__social-link:hover .footer__social-logo {
  fill: #68b738;
}
.footer__social-link:active {
  opacity: 0.3;
}
.footer__social-link:active .footer__social-logo {
  fill: #68b738;
}

.footer__copyright {
  padding: 22px 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    border: none;
  }
}

.footer__copyright-logo {
  fill: #666666;
}

.footer__copyright-link {
  display: flex;
  align-items: center;
  color: #444444;
  font-size: 16px;
  line-height: 1.15;
  text-decoration: none;
}
.footer__copyright-link:hover .footer__copyright-logo {
  fill: #68b738;
}
.footer__copyright-link:active {
  opacity: 0.3;
}
.footer__copyright-link:active .footer__copyright-logo {
  fill: #68b738;
}
@media (max-width: 767px) {
  .footer__copyright-link {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer__copyright-title {
    margin-right: 22px;
  }
}
.contacts {
  position: relative;
  background-color: #ffffff;
}

.contacts__address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;
  background-color: #f2f2f2;
}
.contacts__address--main {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .contacts__address {
    padding: 56px 70px 61px;
  }
}
@media (min-width: 1440px) {
  .contacts__address {
    position: absolute;
    top: 95px;
    left: calc((100vw - 1440px) / 2 + 110px);
    z-index: 2;
    box-sizing: border-box;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.contacts__invitation {
  width: 139px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__invitation {
    width: 172px;
    margin-top: 4px;
    font-size: 20px;
    line-height: 1.3;
  }
}
@media (min-width: 1440px) {
  .contacts__invitation {
    width: 163px;
  }
}

.contacts__information {
  width: 139px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .contacts__information {
    width: 160px;
    text-align: right;
    line-height: 1.25;
  }
}
@media (min-width: 1440px) {
  .contacts__information {
    width: 155px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .contacts__city {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map {
  width: 100%;
  min-width: 320px;
  height: 362px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .contacts__map {
    background-image: url("../img/icons/map-pin-small@2x.png") !important;
    background-size: 100% !important;
  }
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
  .contacts__map [class*=image] {
    top: -106px !important;
    left: -56px !important;
    width: 113px !important;
    height: 106px !important;
    background-image: url("../img/icons/map-pin-large.png") !important;
    background-size: 100% !important;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts__map [class*=image] {
    background-image: url("../img/icons/map-pin-large@2x.png") !important;
    background-size: 100% !important;
  }
}
@media (min-width: 1440px) {
  .contacts__map {
    position: relative;
    z-index: 1;
  }
}

.form {
  padding-top: 24px;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .form {
    padding-top: 34px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form {
    padding-bottom: 82px;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
.form__fieldset--pet {
  margin-bottom: 24px;
}
.form__fieldset--target {
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 19px;
}
.form__fieldset--target::before, .form__fieldset--target::after {
  position: absolute;
  left: -20px;
  right: -20px;
  height: 1px;
  content: "";
  background-color: #d9d9d9;
}
.form__fieldset--target::before {
  top: 0;
}
.form__fieldset--target::after {
  bottom: 0;
}
.form__fieldset--contacts, .form__fieldset--comment {
  margin-bottom: 23px;
}
.form__fieldset--addition {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__fieldset--pet {
    margin-bottom: 72px;
  }
  .form__fieldset--target {
    margin-bottom: 75px;
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
  .form__fieldset--target::before, .form__fieldset--target::after {
    display: none;
  }
  .form__fieldset--contacts, .form__fieldset--comment {
    margin-bottom: 65px;
  }
  .form__fieldset--addition {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--pet {
    grid-area: pet;
  }
  .form__fieldset--target {
    grid-area: target;
  }
  .form__fieldset--contacts {
    grid-area: contacts;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
  .form__fieldset--comment {
    grid-area: comment;
  }
  .form__fieldset--addition {
    grid-area: addition;
  }
}

.form__field-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form__field-group:not(:last-child) {
  margin-bottom: 13px;
}

@media (min-width: 1440px) {
  .form__fieldset--contacts .form__field-group {
    margin-bottom: 0;
  }
}

.form__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.form__item:not(:last-child) {
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .form__fieldset--addition .form__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 32px 123px;
    justify-content: start;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--addition .form__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 32px 80px;
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .form__fieldset--addition .form__item {
    margin-bottom: 0;
  }
}

.form__legend {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  padding-right: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 1.1;
  background-color: #ffffff;
}
.form__legend::after {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
  width: calc(100vw - 20px);
  height: 2px;
  content: "";
  background-color: #68b738;
}
@media (min-width: 768px) {
  .form__legend {
    margin-bottom: 76px;
    padding-right: 42px;
    font-size: 36px;
    line-height: 1;
  }
  .form__legend::after {
    top: 22px;
    width: calc(100vw - 70px);
  }
  .form__legend::before {
    position: absolute;
    top: 22px;
    left: -70px;
    z-index: -1;
    width: 30px;
    height: 2px;
    content: "";
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .form__legend {
    padding-right: 40px;
  }
  .form__legend::after {
    width: calc(100vw - ((100vw - 1440px) / 2 + 110px));
  }
  .form__legend::before {
    left: calc(0px - ((100vw - 1440px) / 2 + 110px));
    width: calc((100vw - 1440px) / 2 + 110px - 40px);
  }
}

@media (min-width: 768px) {
  .form__fieldset .form__legend br {
    display: none;
  }
}

.form__fieldset--comment .form__legend {
  padding-right: 22px;
}
@media (min-width: 768px) {
  .form__fieldset--comment .form__legend {
    padding-right: 38px;
  }
}

.form__fieldset--addition .form__legend {
  padding-right: 23px;
}
@media (min-width: 768px) {
  .form__fieldset--addition .form__legend {
    margin-bottom: 57px;
    padding-right: 41px;
  }
}

.form__label {
  margin-right: 13px;
}

.form__label,
.form__text,
.form__number,
.form__textarea {
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 1.1em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__label,
.form__text,
.form__number,
.form__textarea {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__text,
.form__number {
  flex-grow: 1;
  width: 100px;
  padding: 13px 16px 14px 16px;
  border: 1px solid #e7e7e7;
}

.form__number {
  -webkit-appearance: textfield;
          appearance: textfield;
}
.form__number::-webkit-outer-spin-button, .form__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.form__textarea {
  width: 100%;
  min-width: 280px;
  height: 150px;
  padding: 9px 12px 9px 15px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__textarea {
    width: 100%;
    min-width: 628px;
    height: 174px;
  }
}

.form__text:hover,
.form__number:hover,
.form__textarea:hover {
  border: 1px solid #cdcdcd;
}
.form__text:focus,
.form__number:focus,
.form__textarea:focus {
  border: 1px solid #444444;
  outline: none;
}

.form__text--error,
.form__number--error,
.form__textarea--error {
  border: 1px solid #ff8282;
}

.form__text--email {
  padding-right: 45px;
}

.form__text--email + span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-6px);
  width: 18px;
  height: 13px;
  font-size: 0;
  line-height: 0;
}

.form__text--phone + span {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-10px);
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
}

.form__text--email:focus + span svg line {
  stroke: #68b738;
}
.form__text--email:focus + span svg path {
  stroke: #68b738;
}

.form__text--phone:focus + span svg path {
  fill: #68b738;
}

.form__text--email.form__text--error + span svg line {
  stroke: #ff8282;
}
.form__text--email.form__text--error + span svg path {
  stroke: #ff8282;
}

.form__text--phone.form__text--error + span svg path {
  fill: #ff8282;
}

.form__checkbox-control,
.form__radio-control {
  display: flex;
  align-items: center;
}

.form__checkbox-mark,
.form__radio-mark {
  position: relative;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form__checkbox-mark,
.form__radio-mark {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.form__checkbox-label {
  color: #000000;
}

.form__radio-label {
  color: #222222;
}

.form__radio-mark {
  border-radius: 50%;
}

.form__checkbox:checked + .form__checkbox-mark::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../img/icons/checkbox.svg");
  background-size: 24px 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.form__checkbox:hover + .form__checkbox-mark {
  border: 1px solid #bababa;
}
.form__checkbox:disabled + .form__checkbox-mark, .form__checkbox:disabled ~ .form__checkbox-label {
  opacity: 0.3;
}

.form__radio:checked + .form__radio-mark::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 13px;
  height: 13px;
  margin: auto;
  content: "";
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__radio:checked + .form__radio-mark::after {
    width: 18px;
    height: 18px;
  }
}
.form__radio:hover + .form__radio-mark {
  border: 1px solid #bababa;
}
.form__radio:disabled + .form__radio-mark, .form__radio:disabled ~ .form__radio-label {
  opacity: 0.3;
}

.form__button {
  width: 100%;
  min-width: 280px;
  margin-bottom: 21px;
  padding: 13px 45px;
}
@media (min-width: 768px) {
  .form__button {
    display: inline-block;
    box-sizing: border-box;
    width: 282px;
    margin-right: 61px;
    margin-bottom: 0;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    grid-area: button;
    width: 530px;
    margin-right: 0;
  }
}

.form__explanation {
  margin-bottom: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .form__explanation {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  .form__explanation {
    grid-area: explanation;
    text-align: left;
  }
}

.program-selection {
  padding: 27px 20px 0;
}
@media (min-width: 768px) {
  .program-selection {
    padding: 65px 67px 0 70px;
  }
}
@media (min-width: 1440px) {
  .program-selection {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 73px 110px 0;
  }
}

@media (min-width: 1440px) {
  .program-selection__form {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-areas: "pet pet target target" "contacts contacts contacts contacts" "comment comment comment comment" "addition addition addition addition" "button button explanation explanation";
    column-gap: 80px;
    justify-content: start;
  }
}

.catalog {
  padding: 27px 20px 35px;
}
@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    padding: 65px 30px 76px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 74px 110px 86px;
  }
}

@media (min-width: 768px) {
  .catalog__title {
    grid-column: 1/-1;
    margin-bottom: 82px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin-bottom: 84px;
  }
}

.catalog__title-secondary {
  position: relative;
  display: inline-block;
  margin: 25px auto 36px;
  padding-right: 22px;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-weight: 400;
  background-color: #ffffff;
}
.catalog__title-secondary::after {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
  width: calc(100vw - 20px);
  height: 2px;
  content: "";
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog__title-secondary {
    grid-column: 1/-1;
    justify-self: start;
    margin: 8px 0 80px;
    padding-right: 36px;
    padding-left: 36px;
    font-size: 36px;
  }
  .catalog__title-secondary::after {
    top: 22px;
    width: calc(100vw - 30px);
  }
  .catalog__title-secondary::before {
    position: absolute;
    top: 22px;
    left: -70px;
    z-index: -1;
    width: 30px;
    height: 2px;
    content: "";
    background-color: #68b738;
    left: -30px;
  }
}
@media (min-width: 1440px) {
  .catalog__title-secondary {
    padding-right: 35px;
    padding-left: 0;
  }
  .catalog__title-secondary::after {
    width: calc(100vw - ((100vw - 1440px) / 2 + 110px));
  }
  .catalog__title-secondary::before {
    left: calc(0px - ((100vw - 1440px) / 2 + 110px));
    width: calc((100vw - 1440px) / 2 + 110px - 40px);
  }
}

.catalog__product-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "image title" "image information" "button button";
  padding-top: 19px;
  padding-bottom: 25px;
}
.catalog__product-card--additional {
  grid-template-areas: "title title" "information information" "button button";
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}
.catalog__product-card::after {
  position: absolute;
  bottom: 0;
  left: -20px;
  right: 0;
  width: 100vw;
  content: "";
  border-bottom: 1px solid #ebebeb;
}
.catalog__product-card:first-of-type::before {
  position: absolute;
  top: 0;
  left: -20px;
  right: 0;
  width: 100vw;
  content: "";
  border-bottom: 1px solid #ebebeb;
}
.catalog__product-card--additional::after {
  width: 0;
}
.catalog__product-card--additional:first-of-type {
  border-top: 1px solid #ebebeb;
}
.catalog__product-card--additional:first-of-type::before {
  width: 0;
}
@media (min-width: 768px) {
  .catalog__product-card {
    grid-template-columns: 1fr;
    grid-template-rows: 162px repeat(3, auto);
    grid-template-areas: "image" "title" "information" "button";
    margin-top: 81px;
    margin-bottom: 60px;
    padding: 0 36px 39px;
    background-color: #f2f2f2;
  }
  .catalog__product-card::after {
    width: 0;
  }
  .catalog__product-card:first-of-type::before {
    width: 0;
  }
  .catalog__product-card--additional {
    grid-column: 1/3;
    grid-template-areas: "title information" "button button";
    grid-template-columns: 1fr auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 26px 38px 28px;
    background-color: inherit;
  }
}
@media (min-width: 1440px) {
  .catalog__product-card--additional {
    grid-column: 1/4;
    grid-template-areas: "title information button";
    grid-template-columns: 1fr 286px 244px;
    grid-template-rows: auto;
    column-gap: 38px;
    align-content: start;
    align-items: center;
    padding: 13px 0 15px;
  }
}

.catalog__image-link {
  grid-area: image;
  display: grid;
  justify-self: center;
  align-self: end;
}
@media (min-width: 768px) {
  .catalog__image-link {
    position: relative;
    bottom: 34px;
  }
}
@media (min-width: 1440px) {
  .catalog__image-link {
    bottom: 46px;
  }
}

.catalog__title-link {
  grid-area: title;
  margin-bottom: 18px;
  color: #222222;
  text-decoration: none;
}
.catalog__title-link:hover {
  opacity: 0.6;
}
.catalog__title-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog__title-link {
    margin-bottom: 21px;
  }
}

.catalog__product-card--additional .catalog__title-link {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .catalog__product-card--additional .catalog__title-link {
    justify-self: start;
  }
}
@media (min-width: 1440px) {
  .catalog__product-card--additional .catalog__title-link {
    margin-right: auto;
    margin-bottom: 0;
  }
}

.catalog__product-title,
.catalog__show-more-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog__product-title,
.catalog__show-more-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }
}

.catalog__product-information {
  grid-area: information;
  width: 100%;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 1.3em;
  border-collapse: collapse;
}
@media (min-width: 768px) {
  .catalog__product-information {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 1.4;
  }
}

.catalog__product-card--additional .catalog__product-information {
  margin-bottom: 0;
  font-size: 14px;
}
@media (min-width: 768px) {
  .catalog__product-card--additional .catalog__product-information {
    justify-self: end;
    margin-bottom: 21px;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.4;
  }
}
@media (min-width: 1440px) {
  .catalog__product-card--additional .catalog__product-information {
    min-width: 286px;
    margin-bottom: 0;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .catalog__product-information tr {
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 768px) {
  .catalog__product-card--additional tr {
    border-bottom: none;
  }
}

.catalog__product-information th {
  padding: 0;
  font-weight: 400;
  text-align: left;
}

.catalog__product-information td {
  padding: 0;
  text-align: right;
}

@media (min-width: 768px) {
  .catalog__product-card--additional td {
    min-width: 93px;
  }
}

@media (min-width: 768px) {
  .catalog__product-information th,
.catalog__product-information td {
    padding-top: 2px;
    padding-bottom: 3px;
  }
}

.catalog__button {
  grid-area: button;
  margin-top: 13px;
}
@media (min-width: 768px) {
  .catalog__button {
    align-self: end;
    margin-top: auto;
  }
}

@media (min-width: 768px) {
  .catalog__additional-goods {
    grid-column: 1/-1;
    display: grid;
  }
}
@media (min-width: 1440px) {
  .catalog__additional-goods {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    align-content: start;
  }
}

.catalog__more-goods {
  position: relative;
  margin-bottom: 50px;
}
.catalog__more-goods::after {
  position: absolute;
  bottom: -25px;
  left: -20px;
  right: 0;
  width: 100vw;
  content: "";
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__more-goods {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin-top: 81px;
    margin-bottom: 60px;
    padding: 38px;
    border: 2px solid #f2f2f2;
  }
  .catalog__more-goods::after {
    width: 0;
  }
}

.catalog__show-more-link {
  position: relative;
  display: block;
  margin-top: 25px;
  padding-top: 53px;
  padding-bottom: 8px;
  text-decoration: none;
}
.catalog__show-more-link::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  content: "";
  background-image: url("../img/icons/plus.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .catalog__show-more-link {
    margin-top: 0;
    padding-top: 123px;
  }
  .catalog__show-more-link::before {
    top: 14px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/plus-big.svg");
  }
}

.catalog__show-more-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: #111111;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__show-more-title {
    margin-bottom: 23px;
  }
}

.catalog__show-more-addition {
  margin-top: 0;
  margin-bottom: 0;
  color: #444444;
  font-size: 12px;
  line-height: 1.3em;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__show-more-addition {
    font-size: 16px;
    line-height: 1.2;
  }
}

.catalog__show-more-link:hover .catalog__show-more-title,
.catalog__show-more-link:hover .catalog__show-more-addition {
  opacity: 0.6;
}

.catalog__show-more-link:active .catalog__show-more-title,
.catalog__show-more-link:active .catalog__show-more-addition {
  opacity: 0.3;
}

.catalog__show-all {
  margin-top: 13px;
}
@media (min-width: 768px) {
  .catalog__show-all {
    align-self: grid-end;
    margin-top: auto;
  }
}

.catalog__gift-offer {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  margin: 35px auto 0;
  padding: 186px 58px 43px 58px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/order-all.jpg");
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .catalog__gift-offer {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/order-all@2x.jpg");
    background-size: 280px 289px;
  }
}
.catalog__gift-offer::before {
  position: absolute;
  top: 58px;
  right: 0;
  left: 0;
  width: 78px;
  height: 80px;
  margin: 0 auto;
  content: "";
  background-image: url("../img/icons/gift.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .catalog__gift-offer {
    grid-column: 1/3;
    width: 707px;
    min-height: 200px;
    margin: 69px auto 0;
    padding: 71px 124px 20px 422px;
    text-align: left;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/order-all-tablet.jpg");
    background-size: 100% 200px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .catalog__gift-offer {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/order-all-tablet@2x.jpg");
    background-size: 100% 200px;
  }
}
@media (min-width: 768px) {
  .catalog__gift-offer::before {
    top: 57px;
    left: 77px;
    width: 80px;
    height: 82px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__gift-offer {
    grid-column: -1/-2;
    grid-row: 2/6;
    align-self: start;
    width: 245px;
    min-height: 288px;
    margin: 0;
    padding: 184px 41px 42px 43px;
    text-align: center;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/order-all.jpg");
    background-size: 280px 289px;
    background-position: -35px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .catalog__gift-offer {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/order-all@2x.jpg");
    background-size: 280px 289px;
  }
}
/*# sourceMappingURL=style.css.map */